<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%d{dd-MM-yyyy HH:mm:ss.SSS} %p: %msg | request #%X{requestID} %n</Property>
        <Property name="APP_LOG_ROOT">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="$%d{dd-MM-yyyy HH:mm:ss.SSS} %p: %msg %n" />
        </Console>
        <RollingFile name="requestLogger" fileName="${APP_LOG_ROOT}/requests.log"
                     filePattern="${APP_LOG_ROOT}/requests-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
        <RollingFile name="stackLogger" fileName="${APP_LOG_ROOT}/stack.log"
                     filePattern="${APP_LOG_ROOT}/stack-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
        <RollingFile name="independentLogger" fileName="${APP_LOG_ROOT}/independent.log"
                     filePattern="${APP_LOG_ROOT}/independent-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="request-logger" level="info" additivity="true">
            <AppenderRef ref="requestLogger" />
        </Logger>
        <Logger name="stack-logger" level="info" additivity="true">
            <AppenderRef ref="stackLogger" />
        </Logger>
        <Logger name="independent-logger" level="debug" additivity="true">
            <AppenderRef ref="independentLogger" />
        </Logger>
    </Loggers>
</Configuration>